.div{
    padding-right:-20px;
}
h2,.itemsCount{
    text-align:center;
}
.totalCount{
    padding-left:10px;
    display:block;
}
span{
    display:block;
    float:right;
}
.totalCount{
    width:200px;
    line-height:10px;
}
.totalCount h4{
    color:#B12752;
}
.totalCount p{
    font-size:12px;
}
.cart{
    overflow:hidden;
}
button{
    background-color:#F0C14B;
    padding:5px 60px;
    border:1px solid #A88734;
    border-radius:2px;
    margin-bottom:10px;
    cursor: pointer;
}